* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h4, h5, li, a {
    font-family: 'Courgette', Times, serif;
    font-size: 18px;
    font-weight: normal;
    color: #BCC4C7;
    text-decoration: none;
}
p {
  font-size: 18x;
    font-family: 'Courgette';
    color: #A9612B;
}
label {
    font-family: 'Courgette', Times, serif;
    margin-left: 5px;
}
h1 {
    font-size: 56px;
    font-family: 'Kaushan Script', cursive;
    color:#432D2D;
}
h2, h3 {
    font-size: 26px;
    font-family: 'Courgette';
    color: #A9612B;
}
a {
    font-size: 18px;
}
nav {
  margin-left: 15px;
}
header {
    background-color: #4D4E49;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #BCC4C7;
    position: static;
    width: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
footer {
  background-color: #4D4E49;
  padding: 10px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.small {
    font-size: 36px;
    font-family: 'Courgette', cursive;
    color:#BCC4C7;
}
.normal {
    font-size: 36px;
    font-family: 'Courgette';
    color:#432D2D;
    padding: 15px;
    margin-left: 25px;
}
.normalsmall {
    font-size: 18px;
    font-family: 'Courgette';
    color:#432D2D;
    padding: 15px;
}
.inline {
    display:inline;
}
.logo { 
    font-size: 56px;
    font-family: 'Courgette';
    color: #BCC4C7;
}
body {
    max-width: 100%;
    margin: 0px auto;
    background-color: #E1C9A9;
    min-height: 100vh;
}
a:hover {
    opacity: 70%;
}
.container {
    position: relative;
    
  }
.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  min-width: 650px;
  margin: 10px;
  }
.container2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  }
  .indent {
    font-size: 18x;
    font-family: 'Courgette';
    color: #A9612B;
    margin-left: 25px;
  }
.text-block {
    align-items: center;
    position: absolute;
    top: -40px;
    right: 25%;
    left:25%;
    background-color: #432D2D;
    padding-top: 12px; 
    padding-bottom: 20px;
    padding-left: 45px;
    padding-right: 45px;
    border: 15px solid;
    border-color: #E1C9A9;
    border-radius: 25px;
    text-align: center;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #A9612B;
    color: white;
  }
  .fa-twitter {
    background: #A9612B;
    color: white;
  }
  .fa-instagram {
    background: #A9612B;
    color: white;
  }  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 48.5%;
    padding: 15px;
  }
  .column1 {
    float: left;
    width: 40%;
    padding: 15px;
    margin-left: 20px;
  }
  .column1 img {
   width: 100%;
  }
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  button {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
  }
  .img1 {
    border-radius: 15px;
    margin: 15px
  }
  .img2 {
    border-radius: 15px;
  }
  .fit {
    max-width: 100%;
    max-height: 100%;
  }
  